@import "tailwindcss";

@theme {
  --color-brand: #DBE9C6;
  --color-primary: #00352E;
  --spacing-content: 4em;

  --animate-spin: spin 3s linear infinite;
}

/* *,
*::before,
*::after {
  cursor: none;
} */


.cursor {
  background-color: #111;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

html {
  font-size: 1vw;
}






.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}


.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 8rem;
  position: relative;
  height: 8rem;
  color: #000;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}